$primary-color: #4AC498;

html, body{
    height: 100%;
}

body{
    background: black;
    color: $primary-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    display: flex;
}

.fa{
    margin-right: 5px;
}

strong{
    font-weight: bold;
}

.wrapper{
    display: flex;
    padding: 30px;
    flex: 1;

    & > .left-info{
        max-width: 200px;
        min-width: 200px;
        justify-content: space-between;
        flex-direction: column;
        display: flex;

        & p, & ul{
            margin-bottom: 45px;
        }
    }
    
    & > .main-info{
        flex: 1;
        text-align: center;

        & .meter{
            font-size: 22px;
            
            & .reading{
                font-size: 150px;
                font-weight: bold;
                display: inline-block;
                width: 100%;
                line-height: 135px;
            }
        }
        & .gyro{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;

            & > div:first-child, & > div:last-child{
                position: relative;
                width: 197px;
                height: 197px;

                & > *{
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                & .layer-up{
                    z-index: 2;
                    margin: auto;
                    top: 0;
                    left: 0;
                    bottom: 15px;
                    right: 0;
                }
            }
            & .compass{
                position: relative;

                & .reading{
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 3px;
                    height: 30px;
                    z-index: 9;

                    &::after{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 10px solid $primary-color;
                        top: -21px;
                        left: -1px;
                    }
                }
            }
        }
        & .blindspot{
            min-height: 340px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            & > .trident-top{
                position: relative;
                z-index: 9;
            }

            & .tyres{
                position: absolute;
                z-index: 10;

                &.TL{margin: -155px 175px 0 0; text-align: right;}
                &.TR{margin: -155px 0 0 175px; text-align: left;}
                &.RR{margin: 300px 0 0 0;}
            }

            & > .bg{
                position: absolute;
                width: 257px;
                height: 257px;
                opacity: 0.15;
                background: radial-gradient(50% 60%, #4ac498 30%, rgba(74, 196, 152, 0) 100%);
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    & > .right-info{
        max-width: 200px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        flex: 1;

        & > .data{
            display: flex;
            flex: 1;

            & > div:first-child{
                flex: 1;
                text-align: right;
                margin-right: 30px;
                align-self: flex-end;
            }

            & > div:last-child{
                display: flex;

                & > div{
                    display: flex;
                    flex-direction: column;

                    &.battery-volt{
                        justify-content: space-between;

                        & > span{
                            border: 1px solid $primary-color;
                            border-radius: 50%;
                            display: inline-block;
                            font-size: 12px;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                        }
                    }
                    &.battery-temp{
                        margin-right: 5px;

                        & > span{
                            display: flex;
                            flex: 1;
                            align-items: center;
                            // border-top: 1px solid $primary-color;
                            position: relative;

                            &::after{
                                content: "";
                                width: 7px;
                                height: 1px;
                                background: $primary-color;
                                position: absolute;
                                top: 0;
                                right: 0;
                            }

                            &:last-child{
                                &::before{
                                    content: "";
                                    width: 7px;
                                    height: 1px;
                                    background: $primary-color;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}